body, html {
    height: 100%;
}

h1{
    font-size: 5rem;
    font-weight: 400;
}
h2{
    font-size: 4rem;
    font-weight: 400;
}

h3{
    font-size: 3rem;
    font-weight: 400;
}

h4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 100;
}


/* The hero image */
.hero-image {
/* Add linear gradient to darken the background img */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/(15).jpeg");
    /* Set a specific height */
    height: 80%;

    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* The text of the image*/
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn{
    border-radius: 40px;
}

.custom-shape-divider-bottom-1614932438 {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-bottom-1614932438 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1614932438 .shape-fill {
    fill: #FFFFFF;
}
