h1{
    font-size: 5rem;
    font-weight: 400;
}
h2{
    font-size: 4rem;
    font-weight: 400;
}

h3{
    font-size: 3rem;
    font-weight: 400;
}

h4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 100;
}
.divider{
    margin: 3rem 2px;
    margin-bottom: 5rem;
    height: 2px;
    background-color: rgb(196, 196, 196)
}

.btn{
    border-radius: 40px;
    padding-bottom: 8px;
    margin-top: 1.5rem;
    margin-right: 10px
}
img.rounded-circle{
    width:300px;
    height: 300px;
}
.progress{
    height: 5px;
    margin-bottom: 8px;
}
section{
    margin-top: 6rem;
}

.btn.proj{
    margin-top: 2px;
}