body, html {
    height: 100%;
}

h1{
    font-size: 5rem;
    font-weight: 400;
}
h2{
    font-size: 4rem;
    font-weight: 400;
}

h3{
    font-size: 3rem;
    font-weight: 400;
}

h4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 100;
}

a{
    text-decoration: none;
    color: #0dcaf0;
}
a:hover{
    color: #0d6efd;
}

.divider{
    margin: 3rem 2px;
    margin-bottom: 5rem;
    height: 2px;
    background-color: rgb(196, 196, 196)
}


.btn{
    border-radius: 40px;
    padding-bottom: 8px;
    margin-top: 1.5rem;
    margin-right: 10px
}
img.rounded-circle{
    width:300px;
    height: 300px;
}
.progress{
    height: 5px;
    margin-bottom: 8px;
}
section{
    margin-top: 5rem;
}

.btn.proj{
    margin-top: 2px;
}


/* The hero image */
.hero-image-gallery {
    /* Add linear gradient to darken the background img */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/(15).jpeg");
        /* Set a specific height */
        height: 80%;
    
        /* Center and scale the image*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }


/* The text of the image*/
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.custom-shape-divider-bottom-1614932438 {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-bottom-1614932438 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1614932438 .shape-fill {
    fill: #FFFFFF;
}

@media (max-width:600px){
    img.contact{
        display: none;
    }
}